@model BuildAdminPanelAspNetCore.Areas.SA.Models.BEL.FormBEL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="FormID" hidden />
    <div class="border p-3 mt-4 row">
        @*    <div class="card">*@
        <div class="card-header">
            <h4 class="text-primary">@(Model.FormID != null ? "Update" : "Create") Form</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="FormName" class="form-label mt-4">Form Name</label>
                <input asp-for="FormName" type="text" class="form-control-plaintext">
                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormURL"></label>
                <input asp-for="FormURL" type="text" class="form-control-plaintext" />
                <span asp-validation-for="FormURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuImage"></label>
                <input asp-for="MenuImage" type="text" class="form-control-plaintext" />
@*                <span asp-validation-for="MenuImage" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-for="IsActive" type="checkbox" class="form-check-input" id="IsActive" name="IsActive" checked>
                <label class="form-check-label" asp-for="IsActive">IsActive</label>
            </div>
        </div>
        <div class="card-foorter">
            <div class="col-12">
                @if (Model.FormID != null)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                }
                <a asp-area="SA" asp-controller="Form" asp-action="frmForm" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>
            </div>

        </div>
    </div>
    @*   </div>*@

</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
  }



