USE [SRMS_HOME]
GO
/****** Object:  Table [dbo].[SA_MODULE]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_MODULE](
	[MODULEID] [varchar](2) NOT NULL,
	[MODULENAME] [varchar](30) NOT NULL,
	[ISACTIVE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MODULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_ROLE]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_ROLE](
	[ROLEID] [varchar](2) NOT NULL,
	[ROLENAME] [varchar](20) NOT NULL,
	[ISACTIVE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_FORM]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_FORM](
	[FORMID] [varchar](3) NOT NULL,
	[FORMNAME] [varchar](50) NOT NULL,
	[FORMURL] [varchar](100) NULL,
	[ISACTIVE] [varchar](5) NULL,
	[MENUIMAGE] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[FORMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_SOFTWARE]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_SOFTWARE](
	[SOFTWAREID] [varchar](2) NOT NULL,
	[SOFTWARENAME] [varchar](30) NOT NULL,
	[ISACTIVE] [varchar](5) NULL,
	[SOFTWARESHORTNAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOFTWAREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_ROLEINFORMP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_ROLEINFORMP](
	[FORMID] [varchar](3) NULL,
	[ROLEID] [varchar](2) NULL,
	[SOFTWAREID] [varchar](2) NULL,
	[MODULEID] [varchar](2) NULL,
	[VIEWPERMISSION] [varchar](5) NULL,
	[SAVEPERMISSION] [varchar](5) NULL,
	[EDITPERMISSION] [varchar](5) NULL,
	[DELETEPERMISSION] [varchar](5) NULL,
	[PRINTPERMISSION] [varchar](5) NULL,
	[SETON] [varchar](10) NULL,
	[SETDATE] [datetime] NULL,
	[CONVERTON] [varchar](10) NULL,
	[CONVERTDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_ROLEINSM]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_ROLEINSM](
	[ROLEID] [varchar](2) NULL,
	[SOFTWAREID] [varchar](2) NULL,
	[MODULEID] [varchar](2) NULL,
	[ISACTIVE] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_USERINROLE]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_USERINROLE](
	[USERID] [varchar](10) NOT NULL,
	[ROLEID] [varchar](2) NULL,
	[ISACTIVE] [varchar](5) NULL,
	[EMPID] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SA_ROLEINPERMISSIONVW]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Formatted on 08/10/2023 10:18:33 pm (QP5 v5.227.12220.39724) */
CREATE VIEW [dbo].[SA_ROLEINPERMISSIONVW]
AS
   SELECT 
      m.RoleID + m.SoftwareID + m.ModuleID + r.FormID + u.UserID AS AllID,
      m.RoleID,
      m.SoftwareID,
      m.ModuleID,
      r.FormID,
      u.UserID,
      s.FormName,
      s.FormURL,
      a.ModuleName,
      t.SoftwareName,
      v.RoleName,
      r.ViewPermission,
      r.SavePermission,
      r.EditPermission,
      r.DeletePermission,
      r.PrintPermission,
      r.SetOn,
      t.SoftwareName + '\' + a.ModuleName + '\' + s.FormURL AS FullPath,
      s.MenuImage
   FROM 
      Sa_RoleInFormP r
      JOIN Sa_RoleInSM m ON r.RoleID + r.SoftwareID + r.ModuleID = m.RoleID + m.SoftwareID + m.ModuleID
      JOIN Sa_Form s ON r.FormID = s.FormID
      JOIN Sa_UserInRole u ON m.RoleID = u.RoleID
      JOIN Sa_Software t ON m.SoftwareID = t.SoftwareID
      JOIN Sa_Module a ON m.ModuleID = a.ModuleID
      JOIN Sa_Role v ON m.RoleID = v.RoleID
   WHERE 
      UPPER(m.IsActive) = 'TRUE';

GO
/****** Object:  Table [dbo].[SA_USERINFORMP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_USERINFORMP](
	[USERID] [varchar](10) NULL,
	[FORMID] [varchar](3) NULL,
	[ROLEID] [varchar](2) NULL,
	[SOFTWAREID] [varchar](2) NULL,
	[MODULEID] [varchar](2) NULL,
	[VIEWPERMISSION] [varchar](5) NULL,
	[SAVEPERMISSION] [varchar](5) NULL,
	[EDITPERMISSION] [varchar](5) NULL,
	[DELETEPERMISSION] [varchar](5) NULL,
	[PRINTPERMISSION] [varchar](5) NULL,
	[ISACTIVE] [varchar](5) NULL,
	[SETON] [varchar](10) NULL,
	[SETDATE] [datetime] NULL,
	[CONVERTON] [varchar](10) NULL,
	[CONVERTDATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SA_USERINPERMISSIONVW]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SA_USERINPERMISSIONVW]
AS
   SELECT 
      m.RoleID + m.SoftwareID + m.ModuleID + r.FormID + u.UserID AS AllID,
      m.RoleID,
      m.SoftwareID,
      m.ModuleID,
      r.FormID,
      u.UserID,
      s.FormName,
      s.FormURL,
      a.ModuleName,
      t.SoftwareName,
      v.RoleName,
      r.ViewPermission,
      r.SavePermission,
      r.EditPermission,
      r.DeletePermission,
      r.PrintPermission,
      r.SetOn,
      t.SoftwareName + '\' + a.ModuleName + '\' + s.FormURL AS FullPath,
      s.MenuImage
   FROM 
      Sa_UserInFormP r
      JOIN Sa_RoleInSM m ON r.RoleID + r.SoftwareID + r.ModuleID = m.RoleID + m.SoftwareID + m.ModuleID
      JOIN Sa_Form s ON r.FormID = s.FormID
      JOIN Sa_UserInRole u ON m.RoleID = u.RoleID
      JOIN Sa_Software t ON m.SoftwareID = t.SoftwareID
      JOIN Sa_Module a ON m.ModuleID = a.ModuleID
      JOIN Sa_Role v ON m.RoleID = v.RoleID
   WHERE 
      UPPER(m.IsActive) = 'TRUE';
GO
/****** Object:  Table [dbo].[EMPLOYEE_INFO]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SLNO] [varchar](20) NOT NULL,
	[EMPLOYEE_CODE] [varchar](30) NOT NULL,
	[EMPLOYEE_NAME] [varchar](150) NULL,
	[DESIGNATION_CODE] [varchar](30) NULL,
	[DEPARTMENT_CODE] [varchar](30) NULL,
	[COMPANY_CODE] [varchar](20) NULL,
	[LAST_QUALIFICATION] [varchar](250) NULL,
	[DATE_OF_JOINING] [date] NULL,
	[TOTAL_EXPERIENCE_YR] [int] NULL,
	[CONTACT_NO] [varchar](150) NULL,
	[EMAIL_ID] [varchar](150) NULL,
	[TRAINING_TITLE] [varchar](100) NULL,
	[DURATION] [varchar](50) NULL,
	[IS_DELETE] [char](1) NULL,
	[STATUS] [varchar](10) NULL,
	[SET_BY] [varchar](30) NULL,
	[SET_ON] [date] NULL,
	[UPDATE_BY] [varchar](30) NULL,
	[UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK__EMPLOYEE__3214EC2740184E5A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_EMPLOYEE]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_EMPLOYEE](
	[EMPID] [varchar](10) NULL,
	[EMPNAME] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_MENU]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_MENU](
	[ID] [varchar](3) NULL,
	[NODENAME] [varchar](50) NULL,
	[NODELEVEL] [int] NULL,
	[FORMURL] [varchar](50) NULL,
	[REFID] [varchar](19) NULL,
	[USERID] [varchar](10) NULL,
	[MENUIMAGE] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_OWNER]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_OWNER](
	[OWNERID] [varchar](10) NOT NULL,
	[OWNERNAME] [varchar](50) NULL,
	[OWNERTITLE] [varchar](10) NULL,
	[OWNERCONTACTADDRESS] [varchar](50) NULL,
	[SOLUTIONPREFIX] [varchar](50) NULL,
	[SOLUTIONSUFFIX] [varchar](50) NULL,
	[SOLUTIONTITLEPREFIX] [varchar](10) NULL,
	[SOLUTIONTITLESUFFIX] [varchar](10) NULL,
	[VERSIONNO] [varchar](50) NULL,
	[FISCALYEAR] [varchar](50) NULL,
	[DEVBY] [varchar](50) NULL,
	[DEVCONTACT] [varchar](50) NULL,
	[DEVURL] [varchar](50) NULL,
	[ISRUNNING] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[OWNERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_PAGE_ACCESS_INFO]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_PAGE_ACCESS_INFO](
	[ROLEID] [varchar](2) NULL,
	[FORMID] [varchar](3) NULL,
	[ACCESSLEVEL] [varchar](5) NULL,
	[SETON] [datetime] NULL,
	[SETBY] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SA_USERCREDENTIAL]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SA_USERCREDENTIAL](
	[USERID] [varchar](10) NULL,
	[NEWPASSWORD] [varchar](300) NULL,
	[OLDPASSWORD] [varchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TEMP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TEMP](
	[ID] [varchar](3) NULL,
	[FORMNAME] [varchar](50) NULL,
	[LBL] [varchar](3) NULL,
	[FORMURL] [varchar](50) NULL,
	[REFID] [varchar](7) NULL,
	[USERID] [varchar](10) NULL,
	[MENUIMAGE] [varchar](60) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] ON 

INSERT [dbo].[EMPLOYEE_INFO] ([ID], [SLNO], [EMPLOYEE_CODE], [EMPLOYEE_NAME], [DESIGNATION_CODE], [DEPARTMENT_CODE], [COMPANY_CODE], [LAST_QUALIFICATION], [DATE_OF_JOINING], [TOTAL_EXPERIENCE_YR], [CONTACT_NO], [EMAIL_ID], [TRAINING_TITLE], [DURATION], [IS_DELETE], [STATUS], [SET_BY], [SET_ON], [UPDATE_BY], [UPDATE_DATE]) VALUES (4, N'0004', N'EMP022', N'Asadur Rahman', N'0023', N'0010 ', N'0001', N'PGDMM', CAST(N'2000-12-07' AS Date), NULL, N'01713067317', N'arahman@squaregroup.com  ', NULL, NULL, NULL, N'Active', N'wlelmh', CAST(N'2017-12-10' AS Date), N'ehqmr', CAST(N'2018-09-12' AS Date))
INSERT [dbo].[EMPLOYEE_INFO] ([ID], [SLNO], [EMPLOYEE_CODE], [EMPLOYEE_NAME], [DESIGNATION_CODE], [DEPARTMENT_CODE], [COMPANY_CODE], [LAST_QUALIFICATION], [DATE_OF_JOINING], [TOTAL_EXPERIENCE_YR], [CONTACT_NO], [EMAIL_ID], [TRAINING_TITLE], [DURATION], [IS_DELETE], [STATUS], [SET_BY], [SET_ON], [UPDATE_BY], [UPDATE_DATE]) VALUES (5, N'0005', N'EMP001', N'Mr. Muhammadul Haque', N'0014', NULL, N'0008', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Active', N'ehqmr', CAST(N'2017-12-11' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE_INFO] OFF
GO
INSERT [dbo].[SA_EMPLOYEE] ([EMPID], [EMPNAME]) VALUES (N'00001', N'Emp SA')
INSERT [dbo].[SA_EMPLOYEE] ([EMPID], [EMPNAME]) VALUES (N'00002', N'Emp Admin')
INSERT [dbo].[SA_EMPLOYEE] ([EMPID], [EMPNAME]) VALUES (N'00006', N'Emp Software Developer')
GO
INSERT [dbo].[SA_FORM] ([FORMID], [FORMNAME], [FORMURL], [ISACTIVE], [MENUIMAGE]) VALUES (N'001', N'Role', N'frmRole', N'True', N'fa fa-hand-o-right')
INSERT [dbo].[SA_FORM] ([FORMID], [FORMNAME], [FORMURL], [ISACTIVE], [MENUIMAGE]) VALUES (N'002', N'User In Role ', N'frmUserInRole', N'True', N'fa fa-hand-o-right')
INSERT [dbo].[SA_FORM] ([FORMID], [FORMNAME], [FORMURL], [ISACTIVE], [MENUIMAGE]) VALUES (N'003', N'Menu Head', N'frmSoftware', N'True', N'fa fa-hand-o-right')
GO
INSERT [dbo].[SA_MENU] ([ID], [NODENAME], [NODELEVEL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'051', N'RoleIn Form Permission', 2, N'frmRoleInFormPermission', N'0102051we', N'we', N'far fa-dot-circle nav-icon')
INSERT [dbo].[SA_MENU] ([ID], [NODENAME], [NODELEVEL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'100', N'Product Info', 2, N'frmProductInfo', N'0201100we', N'we', N'far fa-dot-circle nav-icon')
INSERT [dbo].[SA_MENU] ([ID], [NODENAME], [NODELEVEL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'101', N'Company Info', 2, N'frmCompanyInfo', N'0201101we', N'we', N'far fa-dot-circle nav-icon')
GO
INSERT [dbo].[SA_MODULE] ([MODULEID], [MODULENAME], [ISACTIVE]) VALUES (N'01', N'Setup Data', N'True')
INSERT [dbo].[SA_MODULE] ([MODULEID], [MODULENAME], [ISACTIVE]) VALUES (N'02', N'Operational Data', N'True')
INSERT [dbo].[SA_MODULE] ([MODULEID], [MODULENAME], [ISACTIVE]) VALUES (N'03', N'Reports', N'True')
GO
INSERT [dbo].[SA_OWNER] ([OWNERID], [OWNERNAME], [OWNERTITLE], [OWNERCONTACTADDRESS], [SOLUTIONPREFIX], [SOLUTIONSUFFIX], [SOLUTIONTITLEPREFIX], [SOLUTIONTITLESUFFIX], [VERSIONNO], [FISCALYEAR], [DEVBY], [DEVCONTACT], [DEVURL], [ISRUNNING]) VALUES (N'01', N'Square Pharmaceuticals Limited', N'SPL', N'Mohakhali', N'SPL', N'Regulatory', N'SPL', N'Regulatory', N'2.3.7', N'2017-2018', N'Regulatory Management System', N'Mohakhali', N'http://www:sil.com', N'1')
GO
INSERT [dbo].[SA_PAGE_ACCESS_INFO] ([ROLEID], [FORMID], [ACCESSLEVEL], [SETON], [SETBY]) VALUES (N'06', N'155', N'A', NULL, NULL)
INSERT [dbo].[SA_PAGE_ACCESS_INFO] ([ROLEID], [FORMID], [ACCESSLEVEL], [SETON], [SETBY]) VALUES (N'10', N'155', N'P', NULL, NULL)
INSERT [dbo].[SA_PAGE_ACCESS_INFO] ([ROLEID], [FORMID], [ACCESSLEVEL], [SETON], [SETBY]) VALUES (N'06', N'156', N'A', NULL, NULL)
GO
INSERT [dbo].[SA_ROLE] ([ROLEID], [ROLENAME], [ISACTIVE]) VALUES (N'01', N'SA', N'True')
INSERT [dbo].[SA_ROLE] ([ROLEID], [ROLENAME], [ISACTIVE]) VALUES (N'02', N'Admin', N'True')
INSERT [dbo].[SA_ROLE] ([ROLEID], [ROLENAME], [ISACTIVE]) VALUES (N'06', N'Group1All', N'True')
GO
INSERT [dbo].[SA_ROLEINFORMP] ([FORMID], [ROLEID], [SOFTWAREID], [MODULEID], [VIEWPERMISSION], [SAVEPERMISSION], [EDITPERMISSION], [DELETEPERMISSION], [PRINTPERMISSION], [SETON], [SETDATE], [CONVERTON], [CONVERTDATE]) VALUES (N'181', N'01', N'02', N'03', N'true', N'true', N'false', N'false', N'false', N'we', CAST(N'2018-01-09T09:55:50.000' AS DateTime), N'we', CAST(N'2020-12-07T15:55:00.000' AS DateTime))
INSERT [dbo].[SA_ROLEINFORMP] ([FORMID], [ROLEID], [SOFTWAREID], [MODULEID], [VIEWPERMISSION], [SAVEPERMISSION], [EDITPERMISSION], [DELETEPERMISSION], [PRINTPERMISSION], [SETON], [SETDATE], [CONVERTON], [CONVERTDATE]) VALUES (N'180', N'01', N'02', N'03', N'true', N'true', N'false', N'false', N'false', N'we', CAST(N'2018-01-09T09:55:50.000' AS DateTime), N'we', CAST(N'2020-12-07T15:55:00.000' AS DateTime))
INSERT [dbo].[SA_ROLEINFORMP] ([FORMID], [ROLEID], [SOFTWAREID], [MODULEID], [VIEWPERMISSION], [SAVEPERMISSION], [EDITPERMISSION], [DELETEPERMISSION], [PRINTPERMISSION], [SETON], [SETDATE], [CONVERTON], [CONVERTDATE]) VALUES (N'169', N'01', N'02', N'02', N'true', N'true', N'false', N'true', N'false', N'we', CAST(N'2018-01-09T09:55:50.000' AS DateTime), N'we', CAST(N'2020-12-07T15:55:01.000' AS DateTime))
GO
INSERT [dbo].[SA_ROLEINSM] ([ROLEID], [SOFTWAREID], [MODULEID], [ISACTIVE]) VALUES (N'01', N'02', N'04', N'True')
INSERT [dbo].[SA_ROLEINSM] ([ROLEID], [SOFTWAREID], [MODULEID], [ISACTIVE]) VALUES (N'01', N'01', N'04', N'False')
INSERT [dbo].[SA_ROLEINSM] ([ROLEID], [SOFTWAREID], [MODULEID], [ISACTIVE]) VALUES (N'02', N'02', N'04', N'True')
GO
INSERT [dbo].[SA_SOFTWARE] ([SOFTWAREID], [SOFTWARENAME], [ISACTIVE], [SOFTWARESHORTNAME]) VALUES (N'01', N'Security Admin', N'True', N'SA')
INSERT [dbo].[SA_SOFTWARE] ([SOFTWAREID], [SOFTWARENAME], [ISACTIVE], [SOFTWARESHORTNAME]) VALUES (N'02', N'Regulatory Management', N'True', N'Regulatory')
GO
INSERT [dbo].[SA_USERCREDENTIAL] ([USERID], [NEWPASSWORD], [OLDPASSWORD]) VALUES (N'evmj', N'567', NULL)
INSERT [dbo].[SA_USERCREDENTIAL] ([USERID], [NEWPASSWORD], [OLDPASSWORD]) VALUES (N'wslek', N'45:<745:<7', NULL)
INSERT [dbo].[SA_USERCREDENTIAL] ([USERID], [NEWPASSWORD], [OLDPASSWORD]) VALUES (N'wlelefyv', N'56789', NULL)
GO
INSERT [dbo].[SA_USERINROLE] ([USERID], [ROLEID], [ISACTIVE], [EMPID]) VALUES (N'$wslek', N'06', N'True', 0)
INSERT [dbo].[SA_USERINROLE] ([USERID], [ROLEID], [ISACTIVE], [EMPID]) VALUES (N'brkkkk', N'02', N'true', 0)
INSERT [dbo].[SA_USERINROLE] ([USERID], [ROLEID], [ISACTIVE], [EMPID]) VALUES (N'efylermj', N'06', N'True', 33)
GO
INSERT [dbo].[T_TEMP] ([ID], [FORMNAME], [LBL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'01', N'Security Admin', N'0', N'Security Admin', N'01', N'we', N'nav-icon fas fa-circle')
INSERT [dbo].[T_TEMP] ([ID], [FORMNAME], [LBL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'02', N'Regulatory Management', N'0', N'Regulatory Management', N'02', N'we', N'nav-icon fas fa-circle')
INSERT [dbo].[T_TEMP] ([ID], [FORMNAME], [LBL], [FORMURL], [REFID], [USERID], [MENUIMAGE]) VALUES (N'01', N'Setup Data', N'1', N'Setup Data', N'0101', N'we', N'far fa-circle nav-icon')
GO
ALTER TABLE [dbo].[SA_FORM] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_MODULE] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_ROLE] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP] ADD  DEFAULT ('true') FOR [VIEWPERMISSION]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP] ADD  DEFAULT ('true') FOR [SAVEPERMISSION]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP] ADD  DEFAULT ('true') FOR [EDITPERMISSION]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP] ADD  DEFAULT ('true') FOR [DELETEPERMISSION]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP] ADD  DEFAULT ('true') FOR [PRINTPERMISSION]
GO
ALTER TABLE [dbo].[SA_ROLEINSM] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_SOFTWARE] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [VIEWPERMISSION]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [SAVEPERMISSION]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [EDITPERMISSION]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [DELETEPERMISSION]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [PRINTPERMISSION]
GO
ALTER TABLE [dbo].[SA_USERINFORMP] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_USERINROLE] ADD  DEFAULT ('true') FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP]  WITH CHECK ADD FOREIGN KEY([FORMID])
REFERENCES [dbo].[SA_FORM] ([FORMID])
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP]  WITH CHECK ADD FOREIGN KEY([MODULEID])
REFERENCES [dbo].[SA_MODULE] ([MODULEID])
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP]  WITH CHECK ADD FOREIGN KEY([ROLEID])
REFERENCES [dbo].[SA_ROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[SA_ROLEINFORMP]  WITH CHECK ADD FOREIGN KEY([SOFTWAREID])
REFERENCES [dbo].[SA_SOFTWARE] ([SOFTWAREID])
GO
ALTER TABLE [dbo].[SA_USERINROLE]  WITH CHECK ADD FOREIGN KEY([ROLEID])
REFERENCES [dbo].[SA_ROLE] ([ROLEID])
GO
/****** Object:  StoredProcedure [dbo].[ProcessData]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcessData] @pUserID VARCHAR(255)
AS
BEGIN

	SET NOCOUNT ON;

    -- Start a transaction for the deletion
    BEGIN TRANSACTION;

    -- Delete from Sa_Menu where USERID equals pUserID
    DELETE FROM Sa_Menu WHERE USERID = @pUserID;

    -- Delete from t_Temp
    DELETE FROM t_Temp;

    -- Commit the transaction for the deletion
    COMMIT TRANSACTION;

    DECLARE @rowCount INT;
	DECLARE @ModuleID NVARCHAR(2);
	DECLARE @SoftwareID NVARCHAR(2);


    -- Count the number of records based on the specified conditions
    SELECT @rowCount = COUNT(*)
    FROM Sa_UserInFormP
    WHERE UPPER(ViewPermission) = UPPER('true') AND UserID = @pUserID;

    IF @rowCount > 0
    BEGIN
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            SoftwareID,
            SoftwareName,
            '0' AS Lbl,
            SoftwareName,
            SoftwareID,
            @pUserID,
            'glyphicon glyphicon-plus' AS MENUIMAGE
        FROM Sa_UserInPermissionVW
        WHERE UPPER(ViewPermission) = UPPER('true') AND UserID = @pUserID;

        -- Insert into t_Temp for the second level
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            t1.ModuleID,
            t1.ModuleName,
            '1' AS Lbl,
            t1.ModuleName,
            @SoftwareID + ModuleID,
            @pUserID,
            'glyphicon glyphicon-plus' AS MENUIMAGE
        FROM Sa_UserInPermissionVW t1
        INNER JOIN t_Temp t2 ON t1.SoftwareID = SUBSTRING(t2.RefID, 1, 2)
        WHERE LEN(t2.RefID) = 2 AND t2.UserID = @pUserID;

        -- Insert into t_Temp for the third level
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            t1.FormID,
            t1.FormName,
            '2' AS Lbl,
            t1.FormURL,
            @SoftwareID + @ModuleID + t1.FormID,
            @pUserID,
            t1.MENUIMAGE
        FROM Sa_UserInPermissionVW t1
        INNER JOIN t_Temp t2 ON t1.SoftwareID + t1.ModuleID = SUBSTRING(t2.RefID, 1, 4)
        WHERE LEN(t2.RefID) = 4 AND t2.UserID = @pUserID;
    END;
    ELSE
    BEGIN
        -- Insert into t_Temp for the else condition
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            SoftwareID,
            SoftwareName,
            '0' AS Lbl,
            SoftwareName,
            SoftwareID,
            @pUserID,
            'glyphicon glyphicon-plus' AS MENUIMAGE
        FROM Sa_RoleInPermissionVW d
        WHERE UPPER(ViewPermission) = UPPER('true') AND UserID = @pUserID;

		       -- Insert into t_Temp for the second level
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            t1.ModuleID,
            t1.ModuleName,
            '1' AS Lbl,
            t1.ModuleName,
            @SoftwareID + ModuleID,
            @pUserID,
            'glyphicon glyphicon-plus' AS MENUIMAGE
        FROM Sa_RoleInPermissionVW t1
        INNER JOIN t_Temp t2 ON t1.SoftwareID = SUBSTRING(t2.RefID, 1, 2)
        WHERE LEN(t2.RefID) = 2 AND t2.UserID = @pUserID;

		-- Insert into t_Temp for the third level
        INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
        SELECT DISTINCT 
            t1.FormID,
            t1.FormName,
            '2' AS Lbl,
            t1.FormURL,
            @SoftwareID + @ModuleID + t1.FormID,
            @pUserID,
            t1.MENUIMAGE
        FROM Sa_UserInPermissionVW t1
        INNER JOIN t_Temp t2 ON t1.SoftwareID + t1.ModuleID = SUBSTRING(t2.RefID, 1, 4)
        WHERE LEN(t2.RefID) = 4 AND t2.UserID = @pUserID;
    END;
	    -- Insert into Sa_Menu
    INSERT INTO Sa_Menu (ID, NodeName, NodeLevel, FormURL, RefID, UserID, MENUIMAGE)
    SELECT ID, FormName, LBL, FormURL, RefID + UserID, UserID, MENUIMAGE
    FROM t_Temp;
END;

GO
/****** Object:  StoredProcedure [dbo].[Sa_Form_SSP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sa_Form_SSP]
(
    @p_ID NVARCHAR(3),
    @p_Name NVARCHAR(200),
    @p_FormURL NVARCHAR(200),
    @p_IsActive  NVARCHAR(5)
)
AS
BEGIN
BEGIN TRANSACTION;
    DECLARE @vMax VARCHAR(200);

    IF @p_ID = '0'
    BEGIN
        --SELECT @vMax = FORMAT(ISNULL((SELECT MAX(FormID) + 1 FROM Sa_Form), 0), '000');
		SELECT @vMax = RIGHT('000' + CAST(ISNULL(MAX(FormID), 0) + 1 AS VARCHAR(3)), 3) FROM Sa_Form;
        INSERT INTO Sa_Form (FormID, FormName, FormURL, IsActive)
        VALUES (@vMax, @p_Name, @p_FormURL, @p_IsActive);
    END
    ELSE
    BEGIN
        UPDATE Sa_Form
        SET FormName = @p_Name, FormURL = @p_FormURL, IsActive = @p_IsActive
        WHERE FormID = @p_ID;
    END

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_Menu_SP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sa_Menu_SP]
    @pUserID VARCHAR(50)
AS
BEGIN
    -- Declare variables
    DECLARE @row_Count INT;
    DECLARE @ModuleID NVARCHAR(2);
    DECLARE @SoftwareID NVARCHAR(2);
    -- Delete from Sa_Menu
    DELETE FROM Sa_Menu WHERE UserID = @pUserID;

    -- Delete from t_Temp
    DELETE FROM t_Temp;


    -- Get row count
    SELECT @row_Count = COUNT(*)
    FROM Sa_UserInFormP p  
    WHERE UPPER(p.ViewPermission) = UPPER('true') AND p.UserID = @pUserID;

    IF @row_Count > 0
    BEGIN
-- Insert into t_Temp for the first level
INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
SELECT DISTINCT 
    SoftwareID,
    SoftwareName,
    '0' AS Lbl,
    SoftwareName,
    SoftwareID,
    @pUserID,
    'nav-icon fas fa-circle' AS MENUIMAGE
FROM Sa_UserInPermissionVW
WHERE UPPER(ViewPermission) = UPPER('true') AND UserID = @pUserID;

DECLARE @SoftwareID_Level2 NVARCHAR(2);

DECLARE C_SecondLevel CURSOR FOR
    SELECT ID AS SoftwareID
    FROM t_Temp
    WHERE LEN(REFID) = 2 AND UserID = @pUserID;

OPEN C_SecondLevel;
FETCH NEXT FROM C_SecondLevel INTO @SoftwareID_Level2;

WHILE @@FETCH_STATUS = 0
BEGIN
    INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
    SELECT DISTINCT 
        ModuleID,
        ModuleName,
        '1' AS Lbl,
        ModuleName,
        @SoftwareID_Level2 + ModuleID,
        @pUserID,
        'far fa-circle nav-icon' AS MENUIMAGE
    FROM Sa_UserInPermissionVW
    WHERE UPPER(ViewPermission) = UPPER('true') AND SoftwareID = @SoftwareID_Level2 AND UserID = @pUserID;
    FETCH NEXT FROM C_SecondLevel INTO @SoftwareID_Level2;
	
END

CLOSE C_SecondLevel;
DEALLOCATE C_SecondLevel;

DECLARE @ModuleID_Level3 INT;
DECLARE @SoftwareID_Level3 NVARCHAR(2);

DECLARE C_ThirdLevel CURSOR FOR
    SELECT ID AS ModuleID, SUBSTRING(RefID, 1, 2) AS SoftwareID
    FROM t_Temp
    WHERE LEN(REFID) = 4 AND UserID = @pUserID;

OPEN C_ThirdLevel;
FETCH NEXT FROM C_ThirdLevel INTO @ModuleID_Level3, @SoftwareID_Level3;

WHILE @@FETCH_STATUS = 0
BEGIN
    INSERT INTO t_Temp (ID, FORMNAME, LBL, FORMURL, REFID, USERID, MENUIMAGE)
    SELECT DISTINCT 
        FormID,
        FormName,
        '2' AS Lbl,
        FormURL,
        @SoftwareID_Level3 + ModuleID + FormID,
        @pUserID,
        'far fa-dot-circle nav-icon' AS MENUIMAGE
    FROM Sa_UserInPermissionVW
    WHERE UPPER(ViewPermission) = UPPER('true') AND SoftwareID + ModuleID = @SoftwareID_Level3 + CAST(@ModuleID_Level3 AS NVARCHAR) AND UserID = @pUserID;
    FETCH NEXT FROM C_ThirdLevel INTO @ModuleID_Level3, @SoftwareID_Level3;
END

CLOSE C_ThirdLevel;
DEALLOCATE C_ThirdLevel;
    END
    ELSE
    BEGIN
-- Insert into t_Temp for the first level
INSERT INTO t_Temp (ID, FormName, Lbl, FormURL, RefID, UserID, MENUIMAGE)
SELECT DISTINCT 
    SoftwareID,
    SoftwareName,
    '0' AS Lbl,
    SoftwareName,
    SoftwareID,
    @pUserID,
    'nav-icon fas fa-circle' AS MENUIMAGE
FROM Sa_RoleInPermissionVW
WHERE UPPER(ViewPermission) = UPPER('true') AND UserID = @pUserID;

DECLARE C_SecondLevel CURSOR FOR
    SELECT ID AS SoftwareID
    FROM t_Temp
    WHERE LEN(RefID) = 2 AND UserID = @pUserID;

OPEN C_SecondLevel;
FETCH NEXT FROM C_SecondLevel INTO @SoftwareID;

WHILE @@FETCH_STATUS = 0
BEGIN
    INSERT INTO t_Temp (ID, FormName, Lbl, FormURL, RefID, UserID, MENUIMAGE)
    SELECT DISTINCT 
        ModuleID,
        ModuleName,
        '1' AS Lbl,
        ModuleName,
        @SoftwareID + ModuleID,
        @pUserID,
        'far fa-circle nav-icon' AS MENUIMAGE
    FROM Sa_RoleInPermissionVW
    WHERE UPPER(ViewPermission) = UPPER('true') AND SoftwareID = @SoftwareID AND UserID = @pUserID;
    FETCH NEXT FROM C_SecondLevel INTO @SoftwareID;
END

CLOSE C_SecondLevel;
DEALLOCATE C_SecondLevel;

DECLARE C_ThirdLevel CURSOR FOR
    SELECT ID AS ModuleID, SUBSTRING(RefID, 1, 2) AS SoftwareID
    FROM t_Temp
    WHERE LEN(RefID) = 4 AND UserID = @pUserID;

OPEN C_ThirdLevel;

FETCH NEXT FROM C_ThirdLevel INTO @ModuleID, @SoftwareID;

WHILE @@FETCH_STATUS = 0
BEGIN
    INSERT INTO t_Temp (ID, FormName, Lbl, FormURL, RefID, UserID, MENUIMAGE)
    SELECT DISTINCT 
        FormID,
        FormName,
        '2' AS Lbl,
        FormURL,
        @SoftwareID + @ModuleID + FormID,
        @pUserID,
        'far fa-dot-circle nav-icon' AS MENUIMAGE
    FROM Sa_RoleInPermissionVW
    WHERE UPPER(ViewPermission) = UPPER('true') AND SoftwareID + ModuleID = @SoftwareID + @ModuleID AND UserID = @pUserID;
    FETCH NEXT FROM C_ThirdLevel INTO @ModuleID, @SoftwareID;
END

CLOSE C_ThirdLevel;
DEALLOCATE C_ThirdLevel;

   INSERT INTO Sa_Menu (ID, NodeName, NodeLevel, FormURL, RefID, UserID, MENUIMAGE)
    SELECT ID, FormName, LBL, FormURL, RefID + UserID, UserID, MENUIMAGE
    FROM t_Temp;

END

    -- Insert into Sa_Menu
    INSERT INTO Sa_Menu (ID, NodeName, NodeLevel, FormURL, RefID, UserID, MENUIMAGE)
    SELECT ID, FormName, Lbl, FormURL, RefID + UserID, UserID, MENUIMAGE
    FROM t_Temp;
END;

GO
/****** Object:  StoredProcedure [dbo].[Sa_Module_SSP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_Module_SSP]
(
    @p_ID INT,
    @p_Name NVARCHAR(50),
    @p_IsActive INT
)
AS
BEGIN
    DECLARE @vMax VARCHAR(2);

    IF @p_ID = 0
    BEGIN
        SELECT @vMax = FORMAT(ISNULL((SELECT MAX(ModuleID) + 1 FROM Sa_Module), 0), '00');
        INSERT INTO Sa_Module (ModuleID, ModuleName, IsActive)
        VALUES (@vMax, @p_Name, @p_IsActive);
    END
    ELSE
    BEGIN
        UPDATE Sa_Module
        SET ModuleName = @p_Name, IsActive = @p_IsActive
        WHERE ModuleID = @p_ID;
    END

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_Role_SSP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_Role_SSP]
(
    @p_RoleID VARCHAR(2),
    @p_RoleName NVARCHAR(50),
    @p_IsActive INT
)
AS
BEGIN
    DECLARE @vMax VARCHAR(2);

    IF @p_RoleID = '0'
    BEGIN
        SELECT @vMax = FORMAT(ISNULL((SELECT MAX(CAST(RoleID AS INT)) + 1 FROM Sa_Role), 0), '00');
        INSERT INTO Sa_Role (RoleID, RoleName, IsActive)
        VALUES (@vMax, @p_RoleName, @p_IsActive);
    END
    ELSE
    BEGIN
        UPDATE Sa_Role
        SET RoleName = @p_RoleName, IsActive = @p_IsActive
        WHERE RoleID = @p_RoleID;
    END

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_RoleIn_SM_SP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_RoleIn_SM_SP]
(
    @p_RoleSMID VARCHAR(10),
    @p_IsActive VARCHAR(5)
)
AS
BEGIN
    DECLARE @vMax INT;

    SELECT @vMax = COUNT(*)
    FROM Sa_RoleInSM
    WHERE RoleID + SoftwareID + ModuleID = @p_RoleSMID;

    IF @vMax > 0
    BEGIN
        UPDATE Sa_RoleInSM
        SET IsActive = @p_IsActive
        WHERE RoleID + SoftwareID + ModuleID = @p_RoleSMID; 
    END
    ELSE
    BEGIN
        INSERT INTO Sa_RoleInSM (RoleID, SoftwareID, ModuleID, IsActive)
        VALUES (SUBSTRING(@p_RoleSMID, 1, 2), SUBSTRING(@p_RoleSMID, 3, 2), SUBSTRING(@p_RoleSMID, 5, 2), @p_IsActive);
    END;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_RoleIn_SMP_SP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_RoleIn_SMP_SP]
(
    @p_RSMFormID VARCHAR(10),
    @p_VSEDP VARCHAR(5),
    @p_SetOn DATETIME
)
AS
BEGIN
    DECLARE @vMode INT;

    SELECT @vMode = COUNT(*)
    FROM Sa_RoleInFormP
    WHERE RoleID + SoftwareID + ModuleID + FormID = @p_RSMFormID;

    IF @vMode > 0
    BEGIN
        UPDATE Sa_RoleInFormP
        SET ViewPermission = CASE WHEN SUBSTRING(@p_VSEDP, 1, 1) = '1' THEN 'true' ELSE 'false' END,
            SavePermission = CASE WHEN SUBSTRING(@p_VSEDP, 2, 1) = '1' THEN 'true' ELSE 'false' END,
            EditPermission = CASE WHEN SUBSTRING(@p_VSEDP, 3, 1) = '1' THEN 'true' ELSE 'false' END,
            DeletePermission = CASE WHEN SUBSTRING(@p_VSEDP, 4, 1) = '1' THEN 'true' ELSE 'false' END,
            PrintPermission = CASE WHEN SUBSTRING(@p_VSEDP, 5, 1) = '1' THEN 'true' ELSE 'false' END,
            ConvertOn = @p_SetOn,
            ConvertDate = GETDATE()
        WHERE RoleID + SoftwareID + ModuleID + FormID = @p_RSMFormID;
    END
    ELSE
    BEGIN
        INSERT INTO Sa_RoleInFormP (RoleID, SoftwareID, ModuleID, FormID, ViewPermission, SavePermission, EditPermission, DeletePermission, PrintPermission, SetOn, SetDate)
        VALUES (SUBSTRING(@p_RSMFormID, 1, 2), SUBSTRING(@p_RSMFormID, 3, 2), SUBSTRING(@p_RSMFormID, 5, 2), SUBSTRING(@p_RSMFormID, 7, 3),
                CASE WHEN SUBSTRING(@p_VSEDP, 1, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 2, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 3, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 4, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 5, 1) = '1' THEN 'true' ELSE 'false' END,
                @p_SetOn, GETDATE());
    END;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_Software_SSP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_Software_SSP]
(
    @p_ID VARCHAR(2),
    @p_Name NVARCHAR(50),
    @p_ShortName NVARCHAR(10),
    @p_IsActive  NVARCHAR(5)
)
AS
BEGIN
BEGIN TRANSACTION;
    DECLARE @vMax VARCHAR(2);

    IF @p_ID = '0'
    BEGIN
        --SELECT @vMax = FORMAT(ISNULL((SELECT MAX(CAST(SoftwareID AS INT)) + 1 FROM Sa_Software), 0), '00');
		SELECT @vMax = RIGHT('000' + CAST(ISNULL(MAX(SoftwareID), 0) + 1 AS VARCHAR(2)), 2) FROM Sa_Software;
        INSERT INTO Sa_Software (SoftwareID, SoftwareName, SoftwareShortName, IsActive)
        VALUES (@vMax, @p_Name, @p_ShortName, @p_IsActive);
    END
    ELSE
    BEGIN
        UPDATE Sa_Software
        SET SoftwareName = @p_Name, SoftwareShortName = @p_ShortName, IsActive = @p_IsActive
        WHERE SoftwareID = @p_ID;
    END

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_UserIn_SMP_SP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_UserIn_SMP_SP]
(
    @p_RSMFormID VARCHAR(10),
    @p_VSEDP VARCHAR(5),
    @p_SetOn VARCHAR(20)
)
AS
BEGIN
    DECLARE @vMode INT;

    SELECT @vMode = COUNT(*)
    FROM Sa_UserInFormP
    WHERE RoleID + SoftwareID + ModuleID + FormID = @p_RSMFormID;

    IF @vMode > 0
    BEGIN
        UPDATE Sa_UserInFormP
        SET ViewPermission = CASE WHEN SUBSTRING(@p_VSEDP, 1, 1) = '1' THEN 'true' ELSE 'false' END,
            SavePermission = CASE WHEN SUBSTRING(@p_VSEDP, 2, 1) = '1' THEN 'true' ELSE 'false' END,
            EditPermission = CASE WHEN SUBSTRING(@p_VSEDP, 3, 1) = '1' THEN 'true' ELSE 'false' END,
            DeletePermission = CASE WHEN SUBSTRING(@p_VSEDP, 4, 1) = '1' THEN 'true' ELSE 'false' END,
            PrintPermission = CASE WHEN SUBSTRING(@p_VSEDP, 5, 1) = '1' THEN 'true' ELSE 'false' END,
            ConvertOn = @p_SetOn,
            ConvertDate = GETDATE()
        WHERE RoleID = SUBSTRING(@p_RSMFormID, 1, 2)
            AND SoftwareID = SUBSTRING(@p_RSMFormID, 3, 2)
            AND ModuleID = SUBSTRING(@p_RSMFormID, 5, 2)
            AND FormID = SUBSTRING(@p_RSMFormID, 7, 3);
    END
    ELSE
    BEGIN
        INSERT INTO Sa_UserInFormP (RoleID, SoftwareID, ModuleID, FormID, ViewPermission, SavePermission, EditPermission, DeletePermission, PrintPermission, SetOn, SetDate)
        VALUES (SUBSTRING(@p_RSMFormID, 1, 2), SUBSTRING(@p_RSMFormID, 3, 2), SUBSTRING(@p_RSMFormID, 5, 2), SUBSTRING(@p_RSMFormID, 7, 3),
                CASE WHEN SUBSTRING(@p_VSEDP, 1, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 2, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 3, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 4, 1) = '1' THEN 'true' ELSE 'false' END,
                CASE WHEN SUBSTRING(@p_VSEDP, 5, 1) = '1' THEN 'true' ELSE 'false' END,
                @p_SetOn, GETDATE());
    END;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sa_UserInRole_SSP]    Script Date: 18-10-2023 5:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Sa_UserInRole_SSP]
(
    @p_RoleID INT,
    @p_UserID VARCHAR(20),
    @p_EmpID INT,
    @p_NewPassword NVARCHAR(50),
    @p_IsActive INT
)
AS
BEGIN
    DECLARE @vMax INT;

    SELECT @vMax = COUNT(*)
    FROM Sa_UserInRole
    WHERE UserID = @p_UserID;

    IF @vMax > 0
    BEGIN
        UPDATE Sa_UserInRole
        SET RoleID = @p_RoleID, EmpID = @p_EmpID, IsActive = @p_IsActive
        WHERE UserID = @p_UserID;

        UPDATE Sa_UserCredential
        SET NewPassword = @p_NewPassword
        WHERE UserID = @p_UserID;
    END
    ELSE
    BEGIN
        INSERT INTO Sa_UserInRole (UserID, RoleID, EmpID, IsActive)
        VALUES (@p_UserID, @p_RoleID, @p_EmpID, @p_IsActive);

        INSERT INTO Sa_UserCredential (UserID, NewPassword)
        VALUES (@p_UserID, @p_NewPassword);
    END;

    COMMIT TRANSACTION;
END;
GO
