@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/customcss/checkboxbutton.css" rel="stylesheet" />
<div class="container p-3">
    <div class="card">
        <div class="card-header">
            <div class="row pt-4">
                <div class="col-6">
                    <h2 class="text-primary">Users In Role</h2>
                </div>
                <div class="col-6 text-end">
                    <a asp-area="SA" asp-controller="UserInRole" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> &nbsp; Assign User In Role
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>UserID</th>
                        <th>RoleID</th>
                        <th>RoleName</th>
                        <th>EmpID</th>
                        <th>EmpCode</th>
                        <th>EmpName</th>
                        <th>Password</th>
     @*                   <th>ConfirmPassword</th>*@
                        <th>IsActive</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="~/js/form.js">*@
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        debugger;
        function loadDataTable() {
            //dataTable = new DataTable('#tblData');
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/SA/UserInRole/GetUserInRole"
                },
                "columns": [
                    /*           { "data": "formID", "width": "15%" },*/
                    { "data": "userID", "width": "15%" },
                    { "data": "roleID", "width": "15%" },
                    { "data": "roleName", "width": "15%" },
                    { "data": "empID", "width": "15%" },
                    { "data": "empCode", "width": "15%" },
                    { "data": "empName", "width": "15%" },
                    { "data": "password", "width": "15%" },
                    //{ "data": "confirmPassword", "width": "15%" },
                    {
                        data: 'isActive',
                        render: function (data, type, row) {
                            if (row.isActive === true) {
                                //return '<input type="checkbox" class="checkbox" value="' + data + '" checked>';
                                return '<div class="cat action"><label><input type="checkbox" class="checkbox" value="' + data + '" checked><span>Select</span></label> </div>'
                            } else {
                                //return '<input type="checkbox" class="checkbox" value="' + data + '">';
                                return '<div class="cat action"><label><input type="checkbox" class="checkbox" value="' + data + '"><span>Select</span></label> </div>'
                            }
                        },
                        "width": "15%"
                    },
                    //{ "data": "phoneNumber", "width": "15%" },
                    {
                        "data": "userID",
                        "render": function (data) {
                            return `
                                         <div class="w-75 btn-group" role="group">
                                            <a href="/SA/Software/Upsert?id=${data}"
                                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                                             <a onClick=Delete('${data}')
                                           class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                                        </div>     `
                        },
                        "width": "5%"
                    }
                ]
            });

            //table.column(1).visible(false);
        }
        debugger;
        function Delete(data) {
            console.log(data);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        //url: url,
                        //type: 'DELETE',
                        url: "/sa/software/delete/",
                        data: { "id": data },
                        type: "DELETE",
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    })
                }
            })
        }

    </script>
}



